@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/typography' as *;
@use '../../../shared/styles/breakpoints' as *;

.container {
  padding: $spacing-xl 0;
  margin-top: $spacing-2xl;
}

.title {
  @include heading-3;
  margin: 0 0 $spacing-lg;
}

.cardWrapper {
  flex: 0 0 auto;
  width: 280px;

  @include tablet-up {
    width: 320px;
  }

  @include desktop-up {
    width: 344px;
  }

  > article {
    margin: 0;
  }
}
