@use '../../../shared/styles/variables' as *;
@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/breakpoints' as *;
@use '../../../shared/styles/typography' as *;

.container {
  width: 100%;
}

.input {
  width: 100%;

  input {
    border: none;
    border-bottom: 1px solid $color-border;
    border-radius: 0;
    padding: $spacing-sm 0;
    padding-right: $spacing-lg;
    background: transparent;
    font-size: $font-size-base;

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
      appearance: none;
    }

    &:focus {
      border-bottom-color: $color-foreground;
      box-shadow: none;
    }

    &::placeholder {
      color: $color-muted;
    }
  }

  button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    background: none;
    border: none;
    color: $color-muted;
    transition: color $transition-fast;
    cursor: pointer;

    &:hover {
      color: $color-foreground;
    }

    &:focus-visible {
      @include focus-ring;
    }
  }
}

.clearIcon {
  width: 1rem;
  height: 1rem;
}
