@use '../../styles/variables' as *;

.container {
  width: 100%;
}

.scrollWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scrollContainer {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE/Edge

  &::-webkit-scrollbar {
    display: none; // Chrome/Safari
  }
}

// Scroll progress indicator
.scrollIndicator {
  margin-top: $spacing-xl;
}

.scrollTrack {
  height: 2px;
  background: $color-border;
  position: relative;
}

.scrollThumb {
  position: absolute;
  top: 0;
  height: 100%;
  background: $color-primary;
  transition: left 0.1s ease-out;
}
