@use 'sass:color';
@use '../../../shared/styles/variables' as *;

.button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.added {
  background-color: $color-success;
  border-color: $color-success;

  &:hover {
    background-color: color.adjust($color-success, $lightness: -5%);
    border-color: color.adjust($color-success, $lightness: -5%);
  }
}

.checkIcon {
  width: 20px;
  height: 20px;
  margin-right: $spacing-xs;
}
